{% load staticfiles %} {% load static %}
 

<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
</head>

<body>

    {% for v in videos %}
    <h1>{{v.nome}}</h1> 
   <h2>{{v.video.url}}</h2> 
    
    <video controls>
        <source src="{{v.video.url }}">
            seu broweasioaiosj
               
               
    </video>
    {% endfor %}
 
   
    </video>

 


</body>

</html>